@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800&display=swap");

body {
    font-family: "Nunito Sans", sans-serif;
    --primary-color: #525252;
    --secondary-color: #a1a1a1;
    --gray3: #828282;
    --white-gray: #dddddd;
    --purple: #7f265b;
    padding: 0;
    margin: 0;
}

.main-section {
    display: flex;
    height: 100vh;
}

.left-section {
    width: 70%;
}

.form-image {
    width: 100%;
    height: 99vh;
}

.right-section {
    width: 30%;
    padding: 61px 0px;
    padding-right: 90px;
    display: flex;
    flex-direction: column;
}

.right-section h2 {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

.right-section p {
    color: var(--primary-color);
    font-size: 16px;
    margin: 0;
}

.google-section {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(200, 194, 194);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.google-button {
    border: none;
    background: none;
    height: 19px;
    width: 177px;
    color: var(--gray3);
    font-weight: bold;
    cursor: pointer;
}

.contact-form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
}

.contact-form label {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: var(--gray3);
}

.contact-form .input-control {
    border: 1px solid rgb(200, 194, 194);
    padding: 10px;
    border-radius: 4px;
    color: #828282;
    margin-bottom: 10px;
    width: 100%;
    outline: 0;
}

.check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.check-box p {
    padding: 0;
    color: var(--purple);
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
}

.form-button {
    background: var(--purple);
    outline: none;
    border: none;
    padding: 13px 10px 12px;
    text-align: center;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.check-box p {
    color: var(--purple);
    font-weight: 700;
}

.sign-up {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    gap: 10px;
}

.sign-up p {
    font-weight: normal;
}

.sign-up :nth-child(2) {
    color: var(--purple);
    font-weight: 700;
}

@media (min-width: 0px) and (max-width: 575px) {
    .main-section {
        width: 100%;
    }

    .form-image {
        display: none;
    }

    .left-section {
        width: 0;
    }

    .right-section {
        width: 100%;
        margin: 0px 40px;
        padding: 0;
    }

    .right-section h2 {
        color: var(--primary-color);
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1;
        text-align: center;
    }

    .right-section p {
        color: var(--primary-color);
        font-size: 12px;
        margin: 0;
        line-height: 1;
        margin-top: 5px;
        text-align: center;
    }

    .google-section {
        width: 100%;
    }

    .form button {
        width: 100%;
        cursor: pointer;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .main-section {
        width: 100%;
    }

    .form-image {
        display: none;
    }

    .left-section {
        width: 0;
    }

    .right-section {
        width: 100%;
        margin: 0px 40px;
        padding: 0;
    }

    .right-section h2 {
        color: var(--primary-color);
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1;
        text-align: center;
    }

    .right-section p {
        color: var(--primary-color);
        font-size: 12px;
        margin: 0;
        line-height: 1;
        margin-top: 5px;
        text-align: center;
    }

    .google-section {
        width: 100%;
    }

    .form button {
        width: 100%;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (max-width: 1090px) {
    .right-section h2 {
        color: var(--primary-color);
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 0;
    }

    .right-section p {
        color: var(--primary-color);
        font-size: 12px;
        margin: 0;
    }
}